.not-found {
    text-align: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 5rem;
}

.not-found h2 {
    font-size: 5rem;
}

.not-found p {
    font-size: 3rem;
}

.not-found a {
    width: max-content;
    margin: 0 auto;
    padding: 1rem;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
}
