.step.five {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.1875rem;
  height: 100%;
  padding: 10.125rem 0.1875rem 10.125rem 0.1875rem;
}
.step.five img {
  width: 5rem;
  height: 5rem;
}
.step.five div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.step.five h1 {
  color: var(--blue-950);
  font-size: 2rem;
}
.step.five p {
  color: var(--grey-500);
  line-height: 1.6;
  text-align: center;
}

.step.five p address {
  display: inline-block;
  color: var(--grey-500);
  font-style: normal;
  cursor: pointer;
  text-decoration: none;
  transition: text-decoration ease-in-out 0.2s;
}
@media (hover: hover) {
  .step.five p address:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 690px) {
  .step.five div {
    padding: 1rem;
  }
}
