@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
:root {
  --barlow-font: "Barlow", sans-serif;
  --fraunces-font: "Fraunces", serif;
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  /*graphic design text*/
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  /*photography text*/
  --dark-blue: hsl(198, 62%, 26%);
  /*footer*/
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --header-bg: #3ebfff;
  --footer-bg: #8ed0c4;
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-drak-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 18px;
}
img {
  display: block;
}

.logo {
  width: 9.5rem;
  max-width: 100%;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style: none;
}

body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body::-webkit-scrollbar,
.menu,
.contact {
  display: none; /* for Chrome, Safari, and Opera */
}




/* Header */
header {
  background-image: url("images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 44.5rem;
  max-height: 100%;
  text-align: center;
  background-color: var(--header-bg);
}
nav {
  padding: 2rem 2.2rem;
}
nav,
.menu-section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu.shown {
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--white);
  width: 80%;
  left:0;
  right: 0;
  top: 100%;
  margin: 0 auto;
}

.menu.shown a {
  color: var(--grayish-blue);
  font-family: var(--barlow-font);
  text-align: center;
}

h1 {
  font-size: 2.3rem;
  text-transform: uppercase;
  color: var(--white);
  font-family: var(--fraunces-font);
  text-align: center;
  padding: 4rem 0;
  font-weight: 900;
  letter-spacing: 0.6rem;
}

.arrow-img {
  margin: 0 auto;
  margin-top: 1rem;
  height: 15%;
  width: 1.5rem;
}

.fa-solid {
  color: var(--white);
  font-size: 1.6rem;
  display: inline;
  cursor: pointer;
}

.transform {
  display: flex;
  flex-direction: column;
  height: 33.3rem;
  min-height: 50%;
}

.standout-section {
  display: flex;
  flex-direction: column;
  height: 33.3rem;
  min-height: 50%;
}
/*  Transform Section */
.transform section,
.standout-section section {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  text-align: center;
  padding: 2rem;
}

.transform-section-img {
  background-image: url("images/mobile/image-transform.jpg");
}
.standout-section-img {
  background-image: url("images/mobile/image-stand-out.jpg");
}

.transform-section-img,
.standout-section-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 50%;
  height: 100%;
}

.transform h2,
.standout-section h2 {
  font-family: var(--fraunces-font);
  color: var(--very-dark-desaturated-blue);
  font-size: 2.4rem;
  font-weight: 900;
}

.transform h2 {
  word-spacing: -1px;
  letter-spacing: -2px;
}

.standout-section h2 {
  word-spacing: 1.2px;
  letter-spacing: -2px;
}

.transform p,
.standout-section p {
  font-family: var(--barlow-font);
  color: var(--dark-grayish-blue);
  line-height: 30px;
  padding-top: 1.5rem;
}

.transform a,
.standout-section a {
  position: relative;
  text-transform: uppercase;
  color: var(--very-dark-desaturated-blue);
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 0.9rem;
  margin: 0 auto;
  margin-top: 1rem;
}

.transform a:after {
  background-color: var(--yellow);
}
.standout-section a:after {
  background-color: var(--soft-red);
}

.transform a:after,
.standout-section a:after {
  content: "";
  position: absolute;
  opacity: 0.5;
  color: var(--yellow);
  height: 8px;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 85%;
}

/* Graphic Design & Photography */

.section-3 {
  display: flex;
  flex-direction: column;
}
.graphic-design {
  background-image: url("images/mobile/image-graphic-design.jpg");
}

.photography-section {
  background-image: url("images/mobile/image-photography.jpg");
}
.graphic-design,
.photography-section {
  position: relative;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 33.5rem;
  max-height: 20%;
  width: 100%;
  resize: both;
}

.text-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  top: 61%;
}
.graphic-design .text-content {
  color: var(--dark-desaturated-cyan);
}
.photography-section .text-content {
  color: var(--dark-blue);
}
.graphic-design h2,
.photography-section h2 {
  font-family: var(--fraunces-font);
  font-weight: 900;
  text-transform: capitalize;
}
.graphic-design p,
.photography-section p {
  font-family: var(--barlow-font);
  width: 46.9%;
  margin: 0 auto;
  font-size: 0.9rem;
  line-height: 1.4rem;
}

/* Testimonials */
.testimonials {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
  padding: 2rem;
  text-align: center;
}

.testimonials h3 {
  font-family: var(--fraunces-font);
  color: var(--very-drak-grayish-blue);
  text-transform: uppercase;
  letter-spacing: 5px;
}
.profiles,
.profile {
  display: flex;
  flex-direction: column;
}
.profiles {
  gap: 2rem;
}
.profile {
  gap: 3.1rem;
}

.profile img {
  border-radius: 50%;
  object-fit: cover;
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
}

.feedback {
  font-family: var(--barlow-font);
  color: var(--dark-grayish-blue);
  line-height: 1.8rem;
  font-weight: 600;
  background-color: var(--white);
}

.author-block {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding-top: 0.7rem;
  text-align: center;
  align-items: center;
}
.profile-author {
  font-family: var(--fraunces-font);
  font-size: 1rem;
  font-weight: 900;
}
.author-job {
  font-family: var(--barlow-font);
  font-size: 0.8rem;
  color: var(--grayish-blue);
}
/* Image Grid */
.image-grid {
  display: grid;
  grid-template-columns: 1fr;
  height: 50rem;
  width: 100%;
}
.milk {
  background-image: url("images/mobile/image-gallery-milkbottles.jpg");
}

.orange {
  background-image: url("images/mobile/image-gallery-orange.jpg");
}

.cone {
  background-image: url("images/mobile/image-gallery-cone.jpg");
}

.sugar {
  background-image: url("images/mobile/image-gallery-sugar-cubes.jpg");
}

.orange,
.cone,
.sugar,
.milk {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

/* Footer */
footer {
  background-color: var(--footer-bg);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 4rem 1.2rem;
  min-height: 30vh;
  text-align: center;
  align-items: center;
}

.footer-menu {
  display: flex;
  flex-direction: row;
  gap: 3.1rem;
}

.footer-menu a {
  color: var(--dark-moderate-cyan);
  font-family: var(--barlow-font);
}

.social-media {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-top: 2.3rem;
}

@media screen and (min-width: 767px) {
  /* Responsive Images */
  header {
    background-image: url("images/desktop/image-header.jpg");
  }
  .transform-section-img {
    background-image: url("images/desktop/image-transform.jpg");
  }

  .standout-section-img {
    background-image: url("images/desktop/image-stand-out.jpg");
  }
  .milk {
    background-image: url("images/desktop/image-gallery-milkbottles.jpg");
  }

  .orange {
    background-image: url("images/desktop/image-gallery-orange.jpg");
  }

  .cone {
    background-image: url("images/desktop/image-gallery-cone.jpg");
  }

  .sugar {
    background-image: url("images/desktop/image-gallery-sugarcubes.jpg");
  }

  /* Menu */
  .menu-section {
    position: relative;
  }
  .menu {
    display: flex;
    flex-direction: row;
    gap: 2.6rem;
    justify-content: space-evenly;
    margin-right: 2.8rem;
  }
  .menu a {
    color: var(--white);
    font-family: var(--barlow-font);
  }
  .contact {
    border-radius: 25px;
    background-color: var(--white);
    border-width: 1px;
    color: var(--very-dark-desaturated-blue);
    font-family: var(--fraunces-font);
    text-transform: uppercase;
    padding: 0.9rem 1.5rem;
    font-weight: 900;
    font-size: 0.9rem;
    position: static;
    margin-right: 0.4rem;
  }

  .contact {
    display: initial;
  }
  .fa-solid {
    display: none;
  }

  h1 {
    font-size: 3rem;
  }

  .transform {
    flex-direction: row-reverse;
  }

  .standout-section {
    flex-direction: row;
  }

  .transform section {
    text-align: left;
    padding: 8.7rem 9rem;
  }

  .standout-section section {
    text-align: left;
    padding: 8.7rem 6rem;
  }
  .standout-section p {
    padding-right: 2.6rem;
  }

  .transform a {
    margin: 0.6rem;
  }

  .standout-section a {
    margin: 0.6rem;
    padding-top: 32px;
  }

  .transform a:after {
    width: 50%;
    margin: 0;
  }
  .standout-section a:after {
    width: 40%;
    margin: 0;
  }
  .section-3 {
    flex-direction: row;
  }

  .testimonials {
    padding: 8.9rem;
  }
  .profiles {
    flex-direction: row;
  }
  .profiles {
    gap: initial;
  }
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .arrow-img {
    width: 2rem;
  }
}

@media screen and (min-width: 1025px) {
  .image-grid {
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 25rem;
  }
  .transform a:after {
    width: 45%;
  }
  .standout-section a:after {
    width: 45%;
  }
}

@media screen and (min-width: 1200px) {
  .transform a:after {
    width: 30%;
  }
  .standout-section a:after {
    width: 25%;
  }
  .text-content {
    top: 66%;
  }
}
