@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
  --white: white;
  --body-font: "Kumbh Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 12px;
}

body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  box-sizing: border-box;
  background: linear-gradient(180deg, var(--soft-violet), var(--soft-blue));
  background-size: cover;
  min-height: 100vh;
  font-family: var(--body-font);
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

ul {
  list-style: none;
}

.hidden {
  display: none;
}

.main-container {
  background-color: var(--white);
  max-width: 900px;
  width: 90%;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 11rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 42rem;
  height: 100%;
}

/* IMG Container */

.img-section {
  position: relative;
  background-image: url("images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: top 1rem left -2rem;
}

.img-section-center {
  overflow-x: hidden;
}

.container-img {
  display: block;
  margin-top: 5.7rem;
  margin-left: -6.5rem;
}

.container-img-2 {
  display: block;
  margin-left: -19%;
  margin-top: -51%;
}

/* FAQ */
h1 {
  margin-top: 5.1rem;
  margin-left: 3rem;
  font-size: 2.5rem;
}

.main-list {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3.5rem;
  gap: 0.2rem;
}

/* Q List */

.main-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.main-item p {
  font-size: 1.2rem;
}

.arrow-block {
  width: 2rem;
  text-align: center;
  height: inherit;
}
.arrow {
  background-image: url("images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 25%;
  width: 4rem;
  height: 4rem;
}

.arrow.rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  transform-origin: 12% 10%;
}

.question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--very-dark-grayish-blue);
  transition: all ease-in-out 0.3s;
}
.question.active {
  font-weight: 700;
}

.answer {
  display: none;
}
.answer.shown {
  display: inline;
  padding-bottom: 1.5rem;
  padding-right: 20px;
  margin-top: -1.5rem;
  padding-bottom: 3rem;
  font-size: 1rem;
  color: var(--very-dark-grayish-blue);
}

@media (hover: hover) {
  .question:hover {
    color: var(--soft-red);
    transition: all ease-in-out 0.3s;
  }
}

@media screen and (max-width: 1025px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-template-rows: 17rem 1fr;
    justify-items: center;
    margin-top: 25%;
    width: 70%;
    min-height: 55rem;
  }

  .img-section {
    background-size: 90%;
    background-position: top 100% left 10%;
  }
  .img-section-center {
    overflow-x: initial;
  }

  .container-img {
    margin-top: -15rem;
    margin-left: initial;
  }

  .container-img-2 {
    margin-left: -5%;
    margin-top: -51%;
  }

  .faq-section {
    width: 80%;
  }

  .question {
    gap: 2rem;
  }
  .question.active {
    gap: 2rem;
    width: inherit;
  }

  .arrow.rotate {
    transform-origin: 0 10%;
  }
}

@media screen and (max-width: 700px) {
  .main-container {
    margin-top: 35%;
    grid-template-rows: 10rem 1fr;
  }

  .faq-section {
    width: 100%;
  }
  .img-section {
    background-size: 80%;
  }

  .container-img {
    margin-top: -13rem;
    margin-left: 2rem;
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .main-container {
    margin-top: 45%;
    width: 90%;
  }
}
