body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: "Spartan", sans-serif;
}

.main-container {
  width: 90%;
  max-width: 69.375rem;
  height: auto;
  margin: 0 auto;
  margin-top: 8.125rem;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  row-gap: 2.3rem;
  grid-template-rows: 1fr;
  grid-template-areas:
    "first-area"
    "second-area"
    "third-area";
}

/** Main Title **/
.main-title {
  grid-area: first-area;
  text-align: center;
}
.main-title h1 {
  color: hsl(300, 43%, 22%);
  font-size: 2.9rem;
  margin: 0;
  line-height: 3rem;
  letter-spacing: -1px;
  width: 80%;
}
.main-title p {
  color: hsl(303, 10%, 53%);
  line-height: 1.6rem;
  font-weight: 200;
  width: 90%;
}

/** Ratings **/
.ratings {
  grid-area: second-area;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.rating-container-1,
.rating-container-2,
.rating-container-3 {
  background-color: hsl(300, 24%, 96%);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 1rem;
}

.rating-container-1 p,
.rating-container-2 p,
.rating-container-3 p {
  color: hsl(300, 43%, 22%);
  font-weight: bold;
}
.stars {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.star-icon {
  background-image: url("images/icon-star.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 8px;
}

/** Buyer Ratings **/
.buyer-ratings {
  grid-area: third-area;
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  height: auto;
}
.buyer-container-1,
.buyer-container-2,
.buyer-container-3 {
  background-color: hsl(300, 43%, 22%);
  border-radius: 5px;
  padding: 2rem;
  height: fit-content;
  width: fit-content;
}
.rating-header {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
}

.buyer-one {
  background-image: url("images/image-colton.jpg");
}
.buyer-two {
  background-image: url("images/image-irene.jpg");
}
.buyer-three {
  background-image: url("images/image-anne.jpg");
}

.buyer-one,
.buyer-two,
.buyer-three {
  background-repeat: no-repeat;
  background-size: cover;
  width: 2.5rem;
  height: 2.3rem;
  border-radius: 50%;
}

.buyer-information {
  line-height: 10px;
}

.buyer-name {
  color: hsl(0, 0%, 100%);
  font-size: 13px;
  font-weight: 700;
}
.buyer-verification {
  color: hsl(333, 80%, 67%);
  font-size: 13px;
}
.buyer-feedback {
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  font-size: 14px;
}

/** Media Queries **/

@media only screen and (min-width: 600px) {
  body {
    background: url("images/") left -200px top -10px,
      url("images/bg-pattern-bottom-desktop.svg") left 100px bottom 0;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-size: contain, contain;
  }
}

@media only screen and (min-width: 1025px) {
  body {
    background: url("images/bg-pattern-top-desktop.svg") left -300px top -150px,
      url("images/bg-pattern-bottom-desktop.svg") left 500px top -150px;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-size: cover, cover;
  }
  .main-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "first-area second-area"
      "third-area third-area";
  }
  .main-title {
    text-align: left;
  }

  .buyer-ratings {
    flex-direction: row;
  }
  .buyer-container-2 {
    margin-top: 1rem;
  }
  .buyer-container-3 {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 1201px) {
  body {
    background: url("images/bg-pattern-top-desktop.svg") left -300px top -200px,
      url("images/bg-pattern-bottom-desktop.svg") left 500px top -100px;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-size: contain, contain;
  }
}

@media only screen and (min-width: 1440px) {
  body {
    background: url("images/bg-pattern-top-desktop.svg") left -300px top -250px,
      url("images/bg-pattern-bottom-desktop.svg") left 500px top -50px;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-size: contain, contain;
  }
}
