* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  background-color: hsl(225, 100%, 94%);
  background-image: url(pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.center-container {
  position: relative;
  width: 90%;
  max-width: 28.3rem;
  height: 100vh;
  max-height: 44rem;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: center;
  align-content: center;
  background-color: white;
  border-radius: 25px;
  text-align: center;
  overflow: hidden;
}

.header-container {
  width: 100%;
  height: 100%;
  min-height: 14rem;
  background-image: url(illustration-hero.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 25px 25px 0 0;
  overflow: hidden;
}

/** Title **/
.title-container {
  width: 80%;
  height: 100%;
  max-height: 14rem;
  font-family: "Red Hat Display", sans-serif;
  color: hsl(223, 47%, 23%);
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
}
.title-container h1 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 900;
}
.title-container p {
  font-weight: lighter;
  color: hsl(224, 23%, 55%);
  margin-top: 1.2rem;
  line-height: 25px;
}

/** Pricing Container **/
.pricing-container {
  background-color: hsl(225, 100%, 98%);
  font-family: "Red Hat Display", sans-serif;
  width: 70%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin-top: 1.5rem;
  padding: 1.5rem;
}

.music-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 900;
}

.music-img {
  width: 3.5rem;
  height: 3rem;
  background-image: url("icon-music.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.pricing-detail .annual-plan {
  color: hsl(223, 47%, 23%);
  margin-bottom: 1rem;
}

.pricing-detail p {
  color: hsl(224, 23%, 55%);
  line-height: 10px;
}

/** Change button **/
.change-btn {
  border-radius: none;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  color: hsl(245, 75%, 52%);
  font-weight: 900;
  font-size: 1rem;
}

/** Payment/Cancel Buttons **/
.payment-btn button {
  background-color: hsl(245, 75%, 52%);
  border-radius: 15px;
  font-family: "Red Hat Display", sans-serif;
  width: 80%;
  min-width: 80%;
  padding: 1rem;
  margin-top: 2rem;
  border: transparent;
  box-shadow: 5px 10px 20px hsl(245, 75%, 90%);
  color: white;
  font-size: 1rem;
  font-weight: 700;
}

.payment-btn button:hover,
.cancel-btn button:hover,
.change-btn-link button:hover {
  cursor: pointer;
  opacity: 0.7;
  text-decoration: none;
}

/** Cancel Button **/
.cancel-btn button {
  background-color: transparent;
  border: none;
  margin-bottom: 10rem;
  font-weight: 700;
  margin-top: 2rem;
  text-transform: capitalize;
  color: rgb(136, 133, 133);
  text-decoration: none;
  font-size: 1rem;
}

.cancel-btn a:hover {
  color: hsl(223, 47%, 23%);
}

/** Media Queries **/
@media screen and (max-width: 480px) {
  .center-container {
    margin-top: 70px;
  }
  /** Pricing Container **/
  .pricing-container {
    justify-content: space-evenly;
    padding: 2rem;
    gap: 3rem;
  }
}
