/** Google Fonts **/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --body-font: "Open Sans", sans-serif;
  --container-font: "Poppins", sans-serif;
  --background-color: hsl(257, 40%, 49%);
  --white: rgb(255, 255, 255);
  --hover-color: hsl(300, 69%, 71%);
  --box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
}

/** Reset **/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

/** Styling **/
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  min-height: 100%;
  background-color: var(--background-color);
  font-family: var(--body-font);
  background-image: url("images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
html {
  height: 100%;
}
/** Main Container **/
.main-container {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
/** Logo **/
header {
  position: relative;
  width: 100%;
  height: auto;
}
.logo {
  width: 15rem;
  height: 5rem;
  margin: 3.5rem 4.3rem;
}

.logo-img {
  background-image: url("images/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 90%;
  height: 90%;
}

/** Content Container **/
.content-container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 1rem;
}

/** Illustration Container **/
.illustration-container {
  flex: 1.4;
  text-align: center;
}

.responsive-img {
  max-width: 100%;
  display: block;
  margin: auto;
}

/** Info Container **/
.info-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: var(--white);
  gap: 1.4rem;
  max-width: 100%;
  flex: 1;
  margin-top: 2.7rem;
}

.info-container h1 {
  font-family: var(--container-font);
  font-size: 2.5rem;
  text-transform: capitalize;
  max-width: 90%;
}

.info-container p {
  max-width: 85%;
  line-height: 1.7rem;
  font-size: 1.1rem;
  overflow: hidden;
  word-spacing: 1px;
}

/** Registration Button **/
.registration-button {
  text-decoration: none;
  text-align: center;
  width: 32%;
  background-color: var(--white);
  color: var(--background-color);
  border-radius: 35px;
  border: none;
  padding: 16px;
  font-size: 1.1rem;
  font-weight: 200;
  font-family: var(--container-font);
  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  -webkit-transition: all ease-in-out 0.3s;
}

/** Social Media **/
.social-media {
  position: relative;
  display: flex;
  width: 100%;
  height: 5rem;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 6.5rem;
  margin-top: 0.6rem;
  align-items: center;
  gap: 2.5rem;
}

.media-icon {
  align-items: center;
  width: 1rem;
  height: 3rem;
}

.fab {
  border-radius: 50%;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 50%;
  border: 1px solid var(--white);
  color: var(--white);
  width: 2.5rem;
  text-align: center;
}

/** Media Queries **/

/** Nonsticky Hover **/
@media (hover: hover) {
  .registration-button:hover {
    background-color: var(--hover-color);
    color: var(--white);
    cursor: pointer;
    transition: all ease-in-out 0.3s;
  }

  .media-icon .fab:hover {
    color: var(--hover-color);
    border-color: var(--hover-color);
    cursor: pointer;
    transition: all ease-in-out 0.3s;
  }
}

@media screen and (max-width: 1280px) {
  body {
    background-image: url("images/bg-mobile.svg");
    background-size: cover;
  }
  .content-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 4rem;
    gap: 1rem;
  }

  .info-container {
    text-align: center;
  }

  .illustration-container {
    padding: 1.5rem;
  }

  .info-container h1,
  .info-container p {
    margin: auto;
  }

  .social-media {
    justify-content: center;
    padding: 0;
    margin-top: 0;
  }
}
