@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  --body-font: "Raleway", sans-serif;
  --background-color: hsl(229, 57%, 11%);
  --container-background-color: hsl(228, 56%, 26%);
  --pale-blue: hsl(243, 100%, 93%);
  --gradient: linear-gradient(
    90deg,
    rgba(255, 163, 153, 1) 36%,
    rgba(255, 77, 151, 1) 100%
  );
  --white: rgb(255, 255, 255);
  --dark-blue: hsl(229, 57%, 11%);
  --grayish-blue: hsl(229, 7%, 55%);
}

html,
body {
  overflow-x: hidden;
}
body {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 97.5%;
  font-family: var(--body-font);
  background-color: var(--background-color);
  background-image: url("images//bg-desktop.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-attachment: fixed;
  background-size: contain;
}

/** Main Container **/
.main-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "a b b";
  margin: 0 auto;
  margin-top: 18.125rem;
  width: 70%;
  max-width: 57.5rem;
  height: auto;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: end;
}

/** Fylo Container **/
.fylo-container,
.storage-container {
  background-color: var(--container-background-color);
}

.fylo-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  border-radius: 15px 90px 15px 15px;
  padding: 2.5rem;
  padding-right: 8rem;
  grid-area: a;
}

.logo {
  background-image: url("images/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%;
  height: 5rem;
  text-align: left;
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.icon-img {
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 0.8rem;
}

.img-one,
.img-two,
.img-three {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 1.4rem;
  height: 1.4rem;
}

.img-one {
  background-image: url("images/icon-document.svg");
}
.img-two {
  background-image: url("images/icon-folder.svg");
}
.img-three {
  background-image: url("images/icon-upload.svg");
}

/** Storage Container **/
.storage-container {
  border-radius: 15px;
  padding: 2.1rem 2.9rem;
  height: 50%;
  max-height: 9.375rem;
  position: relative;
  grid-area: b;
}

h1 {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--pale-blue);
  line-height: 2rem;
}

h1 span {
  font-weight: 700;
}

/** Progress Bar **/
.progress-bar {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  border-radius: 50px;
  width: 100%;
  height: 1rem;
}

.gradient-bar {
  display: flex;
  align-items: center;
  background: rgb(255, 163, 153);
  background: var(--gradient);
  border-radius: 50px;
  filter: saturate();
  width: 75%;
  height: 0.8rem;
  position: relative;
}
.dot-container {
  position: relative;
  display: inline-flex;
  justify-content: flex-end;
  align-content: flex-end;
  width: 100%;
  height: auto;
}
.dot {
  position: relative;
  background-color: var(--white);
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  margin-right: 2px;
}

.memory-points {
  color: var(--pale-blue);
  font-size: 12px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  margin-top: 9px;
}

/** GB left **/
.gb-left p {
  color: var(--dark-blue);
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
  display: inline-block;
}

.gb-left span {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--grayish-blue);
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  letter-spacing: 1px;
}

.gb-left {
  position: absolute;
  border-radius: 5px 5px 0 5px;
  max-width: 9.6rem;
  min-width: 5rem;
  width: 90%;
  left: 75%;
  top: -20%;
  transform: translate(-50%, 0);
  background-color: var(--white);
  padding: 0.8rem;
  text-align: right;
}
.gb-left:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  background-color: transparent;
  margin-left: 10%;
  margin-bottom: -10%;
  border-top: 0;
  border-bottom: 35px solid transparent;
  border-right: 45px solid var(--white);
}

/** Media Queries **/
@media screen and (max-width: 1025px) {
  body {
    background-image: url("images//bg-mobile.png");
    background-size: cover;
  }

  .logo {
    width: 9rem;
    height: 3rem;
    padding: 1rem;
  }

  .main-container {
    margin-top: 8.125rem;
    grid-template-areas:
      "a a"
      "b b";
    gap: 1rem;
  }

  .storage-container {
    height: 100%;
  }
  .gb-left {
    position: relative;
    left: 50%;
    top: 30%;
    text-align: center;
  }
  .gb-left:after {
    display: none;
  }
}
