@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");

:root {
  --cream: hsl(30, 38%, 92%);
  --dark-cyan: hsl(158, 36%, 37%);
  --darker-cyan: hsl(159, 36%, 26%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --monserrat: "Montserrat", sans-serif;
  --fraunces: "Fraunces", serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  box-sizing: border-box;
  background-color: var(--cream);
  font-size: 14px;
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

image {
  display: block;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
}

/* Main Container */
main {
  background-color: var(--white);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 90%;
  width: 37.5rem;
  height: 450px;
  margin: 0 auto;
  margin-top: 11rem;
  margin-bottom: 10%;
  border-radius: 15px;
}

.image-container {
  background-image: url("./images/image-product-desktop.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  border-radius: 15px 0 0 15px;
  background-repeat: no-repeat;
}
.info-section {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.4rem;
}

h1 {
  font-family: var(--monserrat);
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 0.7rem;
  color: var(--dark-grayish-blue);
}
h2 {
  font-family: var(--fraunces);
  font-size: 1.9rem;
  line-height: 2rem;
  font-weight: 700;
}

.info-section p {
  font-family: var(--monserrat);
  font-weight: lighter;
  font-size: 0.9rem;
  color: var(--dark-grayish-blue);
  line-height: 1.4rem;
}

.pricing {
  display: flex;
  flex-direction: column;
  gap: 2.1rem;
}

.pricing p {
  color: var(--dark-cyan);
  font-family: var(--fraunces);
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;
  margin-top: 1rem;
}

.pricing p span {
  font-family: var(--monserrat);
  font-weight: lighter;
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
  font-size: 0.8rem;
}

button {
  cursor: pointer;
  border: 1px solid var(--dark-cyan);
  background-color: var(--dark-cyan);
  color: var(--white);
  font-family: var(--monserrat);
  font-weight: 700;
  border-radius: 10px;
  padding: 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all ease-in-out 0.2s;
}

@media (hover: hover) {
  button:hover {
    transition: all ease-in-out 0.2s;
    background-color: var(--darker-cyan);
  }
}

@media screen and (max-width: 650px) {
  main {
    margin-top: 10%;
    grid-template-columns: 1fr;
    grid-template-rows: 15rem 1fr;
    height: 100%;
  }
  .image-container {
    background-image: url("./images/image-product-mobile.jpg");
    border-radius: 15px 15px 0 0;
  }
}
