@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --font-inter: "Figtree", serif;
    --color-green: hsl(75, 94%, 57%);
    --color-white: hsl(0, 0%, 100%);
    --color-grey-700: hsl(0, 0%, 20%);
    --color-grey-800: hsl(0, 0%, 12%);
    --color-grey-900: hsl(0, 0%, 8%);
}

@layer base {
    body {
        @apply font-inter text-sm; /* Sets default font and text size */
    }

    p {
        @apply text-sm; /* 14px in Tailwind */
    }
}
