<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>favicon.png">
  <title>Frontend Mentor Challenge Solutions</title>
</head>


<body>
  <div id="app"></div>
  <script>

  </script>
</body>

</html>