@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --blue-950: hsl(213, 96%, 18%);
  --purple-600: hsl(243, 100%, 62%);
  --blue-3300: hsl(228, 100%, 84%);
  --blue-200: hsl(206, 94%, 87%);
  --red-500: hsl(354, 84%, 57%);
  --grey-200: hsla(0, 0%, 89%, 0.446);
  --grey-500: hsl(210, 2%, 46%);
  --purple-200: hsl(229, 24%, 87%);
  --blue-100: hsl(218, 100%, 97%);
  --blue-50: hsl(231, 100%, 99%);
  --white: hsl(0, 100%, 100%);
  --font-ubuntu: "Ubuntu", sans-serif;
}
body {
  height: 100%;
}
#root {
  display: flex;
  background-color: var(--blue-100);
  font-family: var(--font-ubuntu);
  height: 100vh;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
@media screen and (max-width: 690px) {
  #root {
    background-color: var(--white);
    position: relative;
    padding-bottom: 5rem;
  }
}
