@font-face {
  font-family: "barlowmedium";
  src: url("../assets/fonts/barlow-medium-webfont.woff2") format("woff2"),
    url("../assets/fonts/barlow-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "barlowblack";
  src: url("../assets/fonts/Barlow-Black.woff2") format("woff2"),
    url("../assets/fonts/Barlow-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;400&display=swap");

:root {
  --barlow-medium: "barlowmedium";
  --barlow-black: "barlowblack";
  --heebo: "Heebo", sans-serif;
  --bg-color: rgb(250, 250, 250);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --border-color: rgb(219, 229, 230);
  --html-text-color: rgb(106, 190, 205);
  --css-text-color: rgb(62, 84, 163);
  --js-text-color: rgb(207, 99, 144);
  --api-text-color: rgb(133, 194, 10);
  --project-describtion: rgb(115, 115, 115);
  --hover-background: rgba(255, 255, 255, 0.15);
  --wavy-underline: rgba(247, 133, 133, 0.658) 1.5px;
  --menu-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.082);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/** Navigation **/
.nav-icon img {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  object-fit: cover;
  cursor: pointer;
}

.main-menu {
  display: none;
}
.show-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: fit-content;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  list-style: none;
  top: 6rem;
  right: 2rem;
  font-size: 1rem;
  font-family: var(--barlow-medium);
  text-transform: uppercase;
  gap: 20px;
  border: 1px solid rgba(190, 190, 190, 0.253);
  padding: 1rem;
}
.show-menu li {
  border-bottom: 2px solid rgba(190, 190, 190, 0.253);
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
}
.show-menu a {
  text-decoration: none;
  color: var(--black);
}

/** Header **/
header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--white);
  border-bottom: 1px solid rgba(190, 190, 190, 0.253);
  box-shadow: var(--menu-box-shadow);
  padding: 1rem;
  justify-content: center;
  align-items: center;
}
.header-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}
.header-info a {
  text-decoration: none;
  color: var(--black);
}

h1 span {
  text-decoration: underline wavy var(--wavy-underline);
}

.main {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.all-solutions {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.solutions {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  align-items: stretch;
  justify-content: center;
  width: calc(80% + 1.875rem);
  margin: 0 auto;
}

.solution {
  justify-content: stretch;
  align-items: stretch;
  display: inline-flex;
  flex-direction: column;
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-color);
  border-radius: 1rem;
}

.project-info {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.project-info .project-name {
  font-size: 1.5rem;
}

h1 {
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 100;
}
h1,
.project-name p {
  font-family: var(--barlow-medium);
}

.all-solutions-h2,
.project-stack {
  font-family: var(--barlow-black);
  text-transform: uppercase;
}
.all-solutions-h2 {
  font-size: 2.5rem;
  text-align: center;
  padding: 5rem;
  letter-spacing: 2px;
}

.project-stack {
  font-size: 1.2rem;
}

.project-stack.HTML {
  color: var(--html-text-color);
}

.project-stack.CSS {
  color: var(--css-text-color);
}
.project-stack.JS {
  color: var(--js-text-color);
}
.project-stack.API {
  color: var(--api-text-color);
}

.project-stacks {
  display: inline-flex;
  flex-direction: row;
  gap: 1rem;
}

.project-describtion p {
  font-family: var(--heebo);
  font-weight: 400;
  color: var(--project-describtion);
}

.project-preview img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 1rem 1rem 0 0;
  transition: all ease-in-out 0.3s;
}
.project-preview img:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: all ease-in-out 0.3s;
}

/** Learn More ***/
.learn-more-btn {
  position: relative;
  display: flex;
  cursor: pointer;
  width: max-content;
  font-size: 1rem;
  text-decoration: none;
  font-family: var(--barlow-medium);
  border-radius: 15px;
  background-color: transparent;
  transition: all ease-in-out 0.2s;
  align-items: center;
  padding: 0;
  margin: 1.5rem;
  border: none;
  white-space: nowrap;
  text-align: center;
}

.learn-more-btn::after {
  background-color: rgb(237, 44, 73);
  bottom: -1px;
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  transform: scaleX(1);
  transition: transform 0.3s ease 0s;
  text-align: center;
  justify-content: center;
}

/** Links **/

.links {
  display: none;
}

.links.shown-links {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border-radius: 1rem 1rem 0 0;
  transition: 0.1s;
}
.link-btn {
  font-size: 1rem;
  text-decoration: none;
  font-family: var(--barlow-medium);
  color: var(--js-text-color);
  border-radius: 15px;
  background-color: transparent;
  transition: all ease-in-out 0.2s;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 1.5rem;
  width: max-content;
}

.link-btn a {
  position: relative;
  width: max-content;
  text-decoration: none;
  color: var(--black);
}
.link-btn a::after {
  background-color: rgb(237, 44, 73);
  bottom: -10px;
  left: 0;
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  transform: scaleX(1);
  transition: transform 0.3s ease 0s;
}
.link-btn a:hover::after {
  transform: scaleX(0);
}

.hidden {
  display: none;
}

@media screen and (max-width: 1025px) {
  .solutions {
    gap: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .solutions {
    grid-template-columns: 1fr;
    width: 70%;
  }
}
