@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
:root {
  --body-font: "Nunito Sans", sans-serif;
  --light-mode-text: hsl(200, 15%, 8%);
  --light-mode-background: hsl(0, 0%, 98%);
  --light-mode-input: hsl(0, 0%, 52%);
  --white: hsl(0, 0%, 100%);
  --dark-mode-bg: hsl(207, 26%, 17%);
  --dark-mode-elements: hsl(209, 23%, 22%);
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--light-mode-background);
  color: var(--light-mode-text);
  font-family: var(--body-font);
  font-size: 14px;
}

img {
  display: block;
}
a {
  text-decoration: none;
  color: var(--light-mode-text);
}



/* NAVIGATION */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.3rem 5.1rem;
  -webkit-box-shadow: 0px 7px 6px -4px rgba(195, 195, 195, 0.27);
  box-shadow: 0px 7px 6px -4px rgba(195, 195, 195, 0.27);
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}

.toggle-light, .toggle-dark {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
}
/* SEARCH SECTION */
.search-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

.search-input {
  padding: 1.2rem;
  -webkit-box-shadow: 0px 7px 6px -4px rgba(195, 195, 195, 0.27);
  box-shadow: 0px 7px 6px -4px rgba(195, 195, 195, 0.27);
  border-color: transparent;
  width: 30rem;
}

.search-input::placeholder {
  font-size: 1rem;
}

.select-region {
  padding: 1.2rem;
  -webkit-box-shadow: 0px 7px 6px -4px rgba(195, 195, 195, 0.27);
  box-shadow: 0px 7px 6px -4px rgba(195, 195, 195, 0.27);
  border-color: transparent;
}

/* SEARCH CONTAINER */
.search-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* CONTAINER BLOCK */
.container-block {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  width: 90%;
  margin: 0 auto;
  -webkit-box-shadow: 0px 7px 6px -4px rgba(195, 195, 195, 0.27);
  box-shadow: 0px 7px 6px -4px rgba(195, 195, 195, 0.27);
}
.inside-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: var(--white);
  border-radius: 10px;
  -webkit-box-shadow: 0px 7px 6px -4px rgba(195, 195, 195, 0.27);
  box-shadow: 0px 7px 6px -4px rgba(195, 195, 195, 0.27);
}
.category {
  font-weight: 600;
}
.info-block {
  list-style: none;
}


.image {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  max-width: 100%;
  overflow: hidden;
}



/* DARKMODE */
.dark {
  background-color: var(--dark-mode-bg);
  color: var(--white);
}
.dark a {
  color: var(--white);
}


.dark nav {
  background-color: var(--dark-mode-elements);
  -webkit-box-shadow: 0px 7px 6px -4px rgba(4, 4, 4, 0.27);
  box-shadow: 0px 7px 6px -4px rgba(9, 9, 9, 0.27);
}


.dark .inside-container {
  background-color: var(--dark-mode-elements);
  -webkit-box-shadow: 0px 7px 6px -4px rgba(4, 4, 4, 0.27);
  box-shadow: 0px 7px 6px -4px rgba(9, 9, 9, 0.27);
}