@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
:root {
  --body-font: "Nunito Sans", sans-serif;
  --light-mode-text: hsl(200, 15%, 8%);
  --light-mode-background: hsl(0, 0%, 98%);
  --light-mode-input: hsl(0, 0%, 52%);
  --white: hsl(0, 0%, 100%);
  --dark-mode-bg: hsl(207, 26%, 17%);
  --dark-mode-elements: hsl(209, 23%, 22%);
  --purple: rgb(143, 43, 236);
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--light-mode-background);
  color: var(--light-mode-text);
  font-family: var(--body-font);
  font-size: 14px;
}

img {
  display: block;
}
a {
  text-decoration: none;
  color: var(--light-mode-text);
}

/* NAVIGATION */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.3rem 5.1rem;
  -webkit-box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
  box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
  background-color: var(--white);
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}

.toggle-light,
.toggle-dark {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
}
/* SEARCH CONTAINER */
.search-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.8rem 5rem;
}

.input-block {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 30rem;
  align-items: center;
  /* gap: 2rem; */
}

.search-icon {
  position: absolute;
  opacity: 0.4;
  font-size: 1.1rem;
  padding-left: 2rem;
}

.input-block input {
  padding: 1.2rem;
  -webkit-box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
  box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
  border: none;
  width: 100%;
  background-color: var(--white);
  border-radius: 10px;
}

.input-block input::placeholder {
  font-size: 0.9rem;
  color: var(--light-mode-text);
  opacity: 0.4;
  padding-left: 1rem;
  font-family: var(--body-font);
}

.input-block input[type="search"] {
  font-size: 0.9rem;
  color: var(--light-mode-text);
  padding-left: 3.5rem;
  font-weight: 600;
  font-family: var(--body-font);
}

.select-region {
  position: relative;
  border-radius: 10px;
  width: 11.5rem;
  height: 30%;
  padding: 0 0.2rem;
  -webkit-box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
  box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
  background-color: var(--white);
}
.select-region[open] {
  z-index: 1;
}

.select-region summary {
  padding: 1.3rem 0.8rem;
  cursor: pointer;
  border-radius: 5px;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2.8rem;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 400;
}
.select-region summary::-webkit-details-marker {
  display: none;
}

.select-region[open] summary:before {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
}

.select-region summary:after {
  content: "";
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  border-bottom: 1px solid currentColor;
  border-left: 1px solid currentColor;
  border-bottom-left-radius: 2px;
  transform: rotate(45deg) translate(50%, 0);
  transform-origin: center center;
  transition: all ease-in-out 0.3s;
}

.select-region summary:focus {
  outline: none;
}

details[open] summary:after {
  transform: rotate(-45deg) translate(0%, 0%);
}

.region-list {
  max-width: 100%;
  width: 100%;
  background-color: var(--white);
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  padding: 0.2rem 1rem;
  margin: 0;
  box-sizing: border-box;
  border-radius: 10px;
  max-height: 300px;
  overflow-y: auto;
  list-style: none;
  line-height: 1.8rem;
  -webkit-box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
  box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
}

.region-list option {
  cursor: pointer;
  color: var(--dark-mode-bg);
  transition: all ease-in-out 0.3s;
}

/* CONTAINER BLOCK */
.container-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 4.7rem;
  column-gap: 4.5rem;
  width: 89%;
  margin: 0 auto;
}
.inside-container {
  width: 16.5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 10px;
  -webkit-box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
  box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
}
.category {
  font-weight: 600;
}
.info-block {
  display: flex;
  flex-direction: column;
  padding: 0 26px;
  margin-top: 1rem;
  line-height: 10px;
  padding-bottom: 2rem;
}
.image-container {
  width: 100%;
  overflow: hidden;
  height: 10rem;
}
.image {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* COUNTRY BLOCK */
.back {
  margin-top: 4.5rem;
  margin-left: 5rem;
}
.back span {
  font-size: 1.7rem;
}
.back-link {
  background-color: var(--white);
  -webkit-box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
  box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
  padding: 0.4rem 0.1rem;
  font-size: 1rem;
  height: 9%;
  display: flex;
  flex-direction: row;
  width: 9%;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: 400;
}

.country-block {
  width: 89%;
  margin: 0 auto;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.country-image-container {
  height: 25rem;
  width: 88%;
}

.country-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.country-block-info {
  padding: 0.8rem 0;
  margin-left: 2.5rem;
  display: flex;
  flex-direction: column;
}

.country-block-info h2 {
  font-size: 2rem;
}

.details-block {
  text-align: left;
  display: flex;
  flex-direction: row;
  gap: 9rem;
}
.details-block .details-block-one,
.details-block .details-block-two {
  padding: 0;
  line-height: 1rem;
  font-size: 1rem;
  margin-top: -1rem;
}

.details-span {
  font-weight: 600;
}

/* BORDER COUNTRIES */

.border-countries {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-top: 2.9rem;
  align-items: center;
}
.border-countries-title {
  font-weight: 600;
  font-size: 1rem;
}

.border-country {
  background-color: var(--white);
  padding: 0.4rem 1.2rem;
  color: var(--dark-mode-elements);
  -webkit-box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
  box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
  cursor: pointer;
  font-size: 0.7rem;
}

/* SEARCHING BLOCK */
.searching-block {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.searching-h1 {
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 400;
}
/* DARKMODE */
.dark {
  background-color: var(--dark-mode-bg);
  color: var(--white);
}
.dark a {
  color: var(--white);
}

.dark nav,
.dark .inside-container,
.dark .input-block input,
.dark .select-region,
.dark .region-list,
.dark .back a,
.dark .border-country {
  -webkit-box-shadow: 0px 7px 6px -4px rgba(4, 4, 4, 0.27);
  box-shadow: 0px 7px 6px -4px rgba(9, 9, 9, 0.27);
  background-color: var(--dark-mode-elements);
}

.dark .input-block input,
.dark .select-region {
  color: var(--white);
}
.dark .region-list option {
  color: var(--white);
}
.dark .input-block input::placeholder {
  color: var(--white);
}
.dark .search-icon {
  color: var(--white);
}

.dark .region-list {
  color: var(--white);
}

.dark .border-country {
  color: var(--white);
}

/* HOVER */
@media (hover: hover) {
  .region-list option:hover,
  .dark .region-list option:hover {
    color: var(--purple);
    transition: all ease-in-out 0.3s;
  }
}
